*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:#fff;
    width: 100%;
    height:110px;
    z-index: 100;
    position: fixed;
    

}
#child-nav{
    /* background-color: black; */
    zindex:-20;

}
/* .play-store-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  } */
  
  #middle_div img {
    width: 150px;
    border: 1px solid black;
    border-radius: 19%;
}