/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:#fff;
    width: 100%;
    height:110px;
    z-index: 100;
    position: fixed;
    

} */
/* #child-nav{
    /* background-color: black; */
    /* zindex:-20; */

/* } */ 
/* 
 #playstore{
  border-radius: 19%;
}  */
/* #middle_div img{
 background-color: black;
 border-radius: 10%;
}
.signin_signup {
    color:black;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #fff;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#middle_div img {
    background-color: black;
    border-radius: 10%;
    max-width: 100%;
}

.signin_signup {
    color: black;
}

/* Optional: Add media queries to adjust styles for different screen sizes */
@media only screen and (max-width: 768px) {
    nav {
        height: auto;
    }
}
